blessed==1.20.0
bpython==0.24
certifi==2024.2.2
charset-normalizer==3.3.2
curtsies==0.4.2
cwcwidth==0.1.9
greenlet==3.0.3
idna==3.7
lxml==5.2.1
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.17.2
pyxdg==0.28
requests==2.31.0
rich==13.7.1
saxonche==12.4.2
six==1.16.0
urllib3==2.2.1
wcwidth==0.2.13
